### Importing the Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importing the data

In [2]:
raw_csv_data = pd.read_csv("Index2018.csv") 
df_comp=raw_csv_data.copy()

### Lenght of the Time Period

In [3]:
df_comp.describe()

               spx           dax         ftse        nikkei
count  6269.000000   6269.000000  6269.000000   6269.000000
mean   1288.127542   6080.063363  5422.713545  14597.055700
std     487.586473   2754.361032  1145.572428   4043.122953
min     438.920000   1911.700000  2876.600000   7054.980000
25%     990.671905   4069.350000  4486.100000  10709.290000
50%    1233.420000   5773.340000  5662.430000  15028.170000
75%    1459.987747   7443.070000  6304.250000  17860.470000
max    2872.867839  13559.600000  7778.637689  24124.150000

In [4]:
df_comp.head()

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26

In [5]:
df_comp.date.describe()

count           6269
unique          6269
top       19/03/2015
freq               1
Name: date, dtype: object

### From Text to Date

In [6]:
df_comp.date = pd.to_datetime(df_comp.date, dayfirst = True)

In [7]:
df_comp.head()

        date     spx      dax     ftse    nikkei
0 1994-01-07  469.90  2224.95  3445.98  18124.01
1 1994-01-10  475.27  2225.00  3440.58  18443.44
2 1994-01-11  474.13  2228.10  3413.77  18485.25
3 1994-01-12  474.17  2182.06  3372.02  18793.88
4 1994-01-13  472.47  2142.37  3360.01  18577.26

In [8]:
df_comp.date.describe()

count                    6269
unique                   6269
top       1999-08-23 00:00:00
freq                        1
first     1994-01-07 00:00:00
last      2018-01-29 00:00:00
Name: date, dtype: object

### Setting the Index

In [9]:
df_comp.set_index("date", inplace=True)

In [10]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

In [11]:
#df_comp.date.describe() #Expect to get an error message because we no longer have a "date" column since it is the index

### Setting the Desired Frequency

In [12]:
df_comp=df_comp.asfreq('d')

In [13]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-08     NaN      NaN      NaN       NaN
1994-01-09     NaN      NaN      NaN       NaN
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25

In [14]:
df_comp=df_comp.asfreq('b')

In [15]:
df_comp.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

### Handling Missing Values

In [16]:
df_comp.isna()

              spx    dax   ftse  nikkei
date
1994-01-07  False  False  False   False
1994-01-10  False  False  False   False
1994-01-11  False  False  False   False
1994-01-12  False  False  False   False
1994-01-13  False  False  False   False
...           ...    ...    ...     ...
2018-01-23  False  False  False   False
2018-01-24  False  False  False   False
2018-01-25  False  False  False   False
2018-01-26  False  False  False   False
2018-01-29  False  False  False   False

[6277 rows x 4 columns]

In [17]:
df_comp.isna().sum()

spx       8
dax       8
ftse      8
nikkei    8
dtype: int64

In [18]:
df_comp

                    spx       dax         ftse    nikkei
date
1994-01-07   469.900000   2224.95  3445.980000  18124.01
1994-01-10   475.270000   2225.00  3440.580000  18443.44
1994-01-11   474.130000   2228.10  3413.770000  18485.25
1994-01-12   474.170000   2182.06  3372.020000  18793.88
1994-01-13   472.470000   2142.37  3360.010000  18577.26
...                 ...       ...          ...       ...
2018-01-23  2839.130362  13559.60  7731.827774  24124.15
2018-01-24  2837.544008  13414.74  7643.428966  23940.78
2018-01-25  2839.253031  13298.36  7615.839954  23669.49
2018-01-26  2872.867839  13340.17  7665.541292  23631.88
2018-01-29  2853.528411  13324.48  7671.533300  23629.34

[6277 rows x 4 columns]

In [19]:
df_comp.spx=df_comp.spx.fillna(method='ffill')

In [20]:
df_comp.isna().sum()

spx       0
dax       8
ftse      8
nikkei    8
dtype: int64

In [21]:
df_comp.ftse=df_comp.ftse.fillna(method='bfill')

In [22]:
df_comp.dax=df_comp.dax.fillna(value = df_comp.dax.mean())

In [23]:
df_comp.nikkei=df_comp.dax.fillna(method='bfill')

In [24]:
df_comp.isna().sum()

spx       0
dax       0
ftse      0
nikkei    0
dtype: int64

### Simplifying the Dataset

In [25]:
df_comp['market_value']=df_ftse.spx

NameError: name 'df_ftse' is not defined

In [ ]:
df_comp.describe()

In [ ]:
del df_comp['spx']

In [ ]:
df_comp.describe()

In [ ]:
del df_comp['dax']
del df_comp['ftse']
del df_comp['nikkei']

In [ ]:
df_comp.describe()

### Splitting the Data

In [ ]:
size = int(len(df_comp)*0.8)

In [ ]:
df = df_comp.iloc[:size]

In [ ]:
df_test = df_comp.iloc[size:]

In [ ]:
df.tail()

In [ ]:
df_test.head()

### White Noise

In [ ]:
wn = np.random.normal(loc = df.market_value.mean(), scale = df.market_value.std(),
                     size = len(df))

In [ ]:
df.loc[:,'wn'] = wn

In [ ]:
df.describe()

In [ ]:
df.wn.plot(figsize = (12,5))
plt.title('ruido blanco')
plt.show

In [ ]:
df.market_value.plot(figsize = (20,5))
plt.title('S&P Prices')
plt.plot()
#Comparación entre el ruido blanco y una grafica con estacionalidad

In [ ]:
rw = pd.read_csv('RandWalk.csv')

In [ ]:
rw.date = pd.to_datetime(rw.date, dayfirst = True)

In [ ]:
rw.set_index("date", inplace = True)

In [ ]:
rw.head()

In [ ]:
rw = rw.asfreq('b')

In [ ]:
df.loc[:,'rw'] = rw.price

In [ ]:
df.head()

In [ ]:
df.rw.plot(figsize = (20,5))
plt.title('Random Walk')
plt.show

In [ ]:
df.rw.plot(figsize = (20,5))
df.market_value.plot()
plt.title('Random Walk vs S&P500')
plt.legend()
plt.show

# **ESTACIONAREIDAD **

In [ ]:
import statsmodels.graphics.tsaplots as sgt
import statsmodels.tsa.stattools as sts
#Descomposición Estacional
from statsmodels.tsa.seasonal import seasonal_decompose
import seaborn as sns
sns.set()

In [ ]:
#metodo adfulller -- contraste de hipotesis
#nos devuelve, el valor a considera
#p valor 
#retrasos
#significancias del 1 al 10% 
sts.adfuller(df.market_value)

In [ ]:
sts.adfuller(df.wn)

In [ ]:
sts.adfuller(df.rw)

# Estacionalidad

#Se divide en:





**Tendencia = Patrones**



**Estacionalidadd = Ciclico**





**Residual = Error de predicción entre datos reales y el modelo**

In [ ]:
s_dec_additive = seasonal_decompose(df.market_value, model = "additive")
s_dec_additive.plot()
plt.show
#El resultado nos muestra serie de tiempo sin descomponer - luego los graficos de los 3 componentes
#de descomposición

In [ ]:
s_dec_multiplicative = seasonal_decompose(df.market_value, model ="multiplicative")
s_dec_multiplicative.plot()
plt.show

In [ ]:
#dibujando función de autocorrelación (acf)
#lags = retrasos - - - num_argumento_retrasos
#zero = valor actual
sgt.plot_acf(df.market_value, lags = 40, zero = False)
plt.title('ACF S&P ')
plt.show()
#La grafica muestran los posibles valores del coeficiente de correlación (y), si todos van a más de 0
#hay correlación positiva
#Nota: Los valores del apartado azul miden que tan correlacionados pueden estar
#Nota 2: a mayor tiempo menor hay probabilidad de correlación

In [ ]:
sgt.plot_acf(df.wn, lags = 40, zero = False)
#si las lineas tocan la sección azul entonces los coeficientes no son significativos
#O sea que no hay correlación entre los retrasos
plt.title('Ruido Blanco')
plt.show()

In [ ]:
sgt.plot_acf(df.rw, lags = 45, zero = False)
plt.title('Random Walk')
plt.show()

# PACF = FUNCION DE CORRELACIÓN PARCIAL

In [ ]:
#el method es la metodologia que existe para calcular la parcial 
#Nota: ols = Minimos Cuadrados Ordinarios
#Nota 2 = correlación parcial ignora los valores indirectos
sgt.plot_pacf(df.market_value, lags = 40, zero = False, method = ('ols'))
plt.title('PACF S&P')
plt.show()

In [ ]:
sgt.plot_pacf(df.rw, lags = 40, zero = False, method = ('ols'))
plt.title('PACF RANDOM WALK')
plt.show()

In [ ]:
sgt.plot_pacf(df.wn, lags = 40, zero = False, method = ('ols'))
plt.title('PACF RUIDO BLANCO')
plt.show()